<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
<br>
<div class="container">
    <div class="card bg-dark text-white">
        <div class="card-header">
            Editar Proprietário
        </div>
        <div class="card-body">
            <form method="post" action="/proprietarios/salvar">
                <input type="hidden" name="id" value="<%= proprietario.id %>">
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        class="form-control bg-dark text-white"
                        name="nome"
                        id="nome"
                        placeholder="Nome do Proprietário"
                        value="<%= proprietario.nome %>"
                        required>
                    <label for="nome">Nome do Proprietário</label>
                </div>
                <div class="form-floating mb-3">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <a href="/proprietarios" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
