<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
<br>
<div class="container">
    <a href="/proprietarios/novo" class="btn bg-dark text-white mb-2">Novo Proprietário</a>
    <br>
    <div class="card bg-dark text-white">
        <div class="card-header">
            Proprietários Cadastrados
        </div>
        <div class="card-body bg-dark">
            <table class="table text-white table-borderless">
                <thead>
                    <tr>
                        <th class="col-10">Nome do Proprietário</th>
                        <th class="col-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% proprietarios.forEach(proprietario => { %>
                        <tr>
                            <td><%= proprietario.nome %></td>
                            <td>
                                <a href="/proprietarios/<%= proprietario.id %>" class="btn btn-primary">Editar</a>
                                <a href="/proprietarios/delete/<%= proprietario.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
